<%- include partials/globals/head %>
  <nav>
    <%- include partials/header %>
  </nav>

  <main>
    <ul>
      <% for (let i=0; i < posts.length; i++) { %>
        <li class="posts">
          <span><%= posts[i].title %></span>
          <span><%= posts[i].body %></span>
        </li>
      <% }%>
    </ul>

    <form action='/posts' method='POST'>
      <input type='text' name='title'>
      <input type='text' name='body'>
      <button type='submit'>Submit</button>
    </form>

    <div>
      <h2>This button will change the last quote!</h2>
      <button id="update"> ALTER </button>
    </div>

  </main>

  <footer>
    <%- include partials/footer %>
  </footer>
<%- include partials/globals/foot %>
